version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: logistics-db
    environment:
      POSTGRES_USER: ${DB_USER}       
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  rabbitmq:
    image: rabbitmq:3-management
    container_name: logistics-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: SSCV.Api/Dockerfile
    container_name: logistics-api
    ports:
      - "5294:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - RabbitMQ__Host=rabbitmq
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db
      - rabbitmq
    restart: on-failure


  worker:
    build:
      context: .
      dockerfile: SSCV.Worker/Dockerfile
    container_name: logistics-worker
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - RabbitMQ__Host=rabbitmq
      - Telegram__BotToken=${TELEGRAM_BOT_TOKEN}
      - Telegram__ChatId=${TELEGRAM_CHAT_ID}
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_healthy  